@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap');

:root {
    --font: 'Kumbh Sans', sans-serif;

    /* Texto */
    --veryDarkGrayishBlue: hsl(237, 12%, 33%);
    --darkGrayishBlue: hsl(240, 6%, 50%);
    --veryDarkDesaturatedBlue: hsl(238, 29%, 16%);
    --softRed: hsl(14, 88%, 65%);

    /*BG Gradient*/
    --softViolet: hsl(273, 75%, 66%);
    --softBlue: hsl(240, 73%, 65%);


    /*Dividers*/
    --lightGrayishBlue: hsl(240, 5%, 91%);


}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background: rgb(101,101,231);
    background: linear-gradient(0deg, rgba(101,101,231,1) 36%, rgba(175,103,233,1) 80%);
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    font-family: var(--font);
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    background-color: white;
    width: 65vw;
    margin: 0 auto;
    margin-top: 15vh;
    border-radius: 15px;
    height: 95vh;
    box-shadow: 10px 10px 50px var(--veryDarkDesaturatedBlue);
}

#woman-online {
    height: 50vh;
    width: 30vw;
    padding-left: 20px;
    padding-right: 20px;
}

#box-illustration {
    position: absolute;
    top: 350px;
}

.arrow:hover {
    cursor: pointer;
}


.main-content {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 50%;
    height: 100%;
    padding-left: 30px;
    padding-bottom: 60px;
    padding-top: 60px;
}

main-content h1 {
    font-weight: bolder;
    padding-top: 20px;
}

.question {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 90%;
    align-items: center;
}

.question-p {
    color: var(--veryDarkDesaturatedBlue);
}

.question-p:hover {
    color: var(--softRed);
    cursor: pointer;
}

.question img {
    width: 15px;
    height: 10px;
}

.answer {
    padding: 20px 0;
    display: none;
    color: var(--darkGrayishBlue);
    width: 90%;
}

.visible {
    display: inline-flex;
}

.line {
    color: var(--darkGrayishBlue);
    width: 90%
}

.active {
    color: black;
    font-weight: bolder;
}

.active:hover {
    color: var(--softRed);
    cursor: pointer;
}

@media screen and (max-width: 425px) {
    body {
        height: 100vh
    }
    
    main {
        display: flex;
        flex-direction: column;
        height: 100vh;
        width: 80vw;
        margin-top: 5vh;
        margin-bottom: 5vh;
    }

    .main-content {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        width: 100%;
        height: 100%;
        padding-left: 10px;
        padding-top: 0;
        padding-bottom: 0;
    }
    
    .main-content h1 {
        font-weight: bolder;
        padding-top: 20px;
        text-align: center;
    }
    
    .question {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        width: 90%;
        align-items: center;
    }
    
    .question-p {
        color: var(--veryDarkDesaturatedBlue);
        font-size: 12px
    }
    
    .question img {
        width: 15px;
        height: 10px;
    }
    
    .answer {
        padding: 5px 0;
        display: none;
        color: var(--darkGrayishBlue);
        font-size: 12px;
    }

    .visible {
        display: inline-flex;
    }

    .active {
        font-size: 12px;
    }

    #woman-online {
        height: 30vh;
        width: 50vw;
        position: absolute;
        top: 0px;
        left: 110px;
        display: none;
    }
    
    #box-illustration {
        position: absolute;
        top: 350px;
        display: none;
    }
    
}

@media screen and (width: 768px) {

    body {
        height: 100vh;
    }

    main {
        width: 95vw;
        height: 100vh;
        margin: 0 auto;
        margin: 10vh auto
    }
    
    .main-content {
        width: 90%;
        padding: 20px 0;
        height: 90%;
    }

    .main-content h1 {
        text-align: center;
        padding: 10px 0;
        font-size: 40px;
    }

    .question-p {
        font-size: 19px;
    }

    .active {
        font-size: 19px;
    }

    .answer {
        font-size: 15px;
    }

    #woman-online{
        display: none;
    }

    #box-illustration {
        display: none;
    }
}

@media screen and (width: 1024px) {
    main {
        width: 90vh;
    }
    
    .main-content {
        width: 100%;
    }

    #woman-online {
        display: none;
    }

    #box-illustration {
       display: none;
    }

    .main-content h1 {
        font-size: 50px;
        padding-bottom: 10px;
    }

    .question-p {
        font-size: 30px;
    }

    .active {
        font-size: 30px;
    }

    .answer {
        font-size: 25px;
    }
}

@media screen and (max-width: 1024px) {
    .question-p:hover {
        color: var(--veryDarkDesaturatedBlue);
    }

    .active:hover {
        color: black;
    }
}

@media screen and (width: 1440px) {
    main {
        width: 90vw;
    }

    .main-content {
        width: 100%;
    }

    .main-content h1 {
        font-size: 50px;
    }

    .question-p {
        font-size: 30px;
    }

    .active {
        font-size: 30px;
    }

    .answer {
        font-size: 25px;
    }

    #woman-online {
        width: 600px;
    }

    #box-illustration {
        top: 670px;
        left: 85px;
    }
}

@media screen and (width: 2560px) {
    main {
        width: 90vw;
        border-radius: 50px;
    }

    .main-content {
        width: 100%;
        padding-left: 40px;
        height: 90vh;
    }

    .main-content h1 {
        font-size: 100px;
    }

    .question-p {
        font-size: 70px;
    }

    .arrow {
        display: none;
    }

    .active {
        font-size: 70px;
    }

    .answer {
        font-size: 50px;
        width: 90%;
    }

    #woman-online {
        display: none;
        
    }

    #box-illustration {
        display: none;
    }
}
